.list-group-item {
  padding: 0.25rem 1rem;
  border-radius: 0;
  &.active {
    border-color: #0da9ef;
    background-color: #0da9ef;
    color: #fff;
    cursor: pointer;
    pointer-events: none;
  }
}
