<app-main-slider [items]="productsFeatured"></app-main-slider>

    <!-- Product Widgets-->
    <section class="container padding-bottom-2x padding-top-3x">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <app-product-widget [widgetTitle]="'New Arrivals'" [products]="productsNewArrivals"></app-product-widget>
            </div>
            <div class="col-md-4 col-sm-6">
                <app-product-widget [widgetTitle]="'On Sale'" [products]="productsOnSale"></app-product-widget>
            </div>
            <div class="col-md-4 col-sm-6">
                <app-product-widget [widgetTitle]="'Best Rated'" [products]="productsBestRated"></app-product-widget>
            </div>
        </div>
    </section>

    <app-promo *ngIf="promos" [promo]="promos[0]"></app-promo>

