<div class="row padding-top-2x" style="margin-left: 50px;">
  <div class="row" style="width: 145%;">
    <div class="col-sm-12">
      <div class="list-group">
        <app-category-item
          *ngFor="let cateItem of categoryList | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
          [category]="cateItem"
          [index]="i"
        >
        </app-category-item>
        <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
